# --- Fichiers de données volumineux (maillages) ---
/data/*
!/data/.gitignore

# --- CMake / Build ---
build*/
bin/
lib/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja
*.cache
*.log

# --- Compilateurs & IDEs ---
*.obj
*.o
*.exe
*.out
.vscode/
.vs/
.idea/
*.user
